<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Duxwell Printing</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/services']">Services</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">
            <span>Action</span>
          </a>
          <a class="dropdown-item" href="#">
            <span>Another action</span>
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
            <span>Something else here</span>
          </a>
        </div>
      </li>
    </ul>
    <a [routerLink]="['/templates']">
      <button class="btn btn-outline-success my-2 my-sm-0">
        Sample Templates
      </button>
    </a>
  </div>
</nav>

<!-- Body Content -->

<div class="container">
  <h1>OUR SERVICES</h1>
  <ul class="list-unstyled">
    <li>
      <h5>We are a fully-equipped printing company</h5>
    </li>
    <li>
      <h5>Our specialty is in the following areas:</h5>
      <ul class="list-group">
        <li>Business cards</li>
        <li>Letterheads</li>
        <li>Envelopes (any size)</li>
      </ul>
    </li>
  </ul>
  <h3>....and more</h3>

  
</div>
