.navbar {
    background-color: #FFF;
}

.navbar .navbar-brand {
    color: black !important;
    font-weight: bolder;
    font-size: 1.3em;
}

.navbar .navbar-nav {
    margin: 0 auto;
}

.navbar .nav-item a {
    color: black !important;
}

.navbar .dropdown-menu {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.3);
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar button {
    background-color: transparent !important;
    color: black;
    border: 2px outset blue;
}

.navbar button a {
    text-decoration: none;
}

.navbar button:hover {
    background-color: blue;
    color: greenyellow;
}

/* Navbar Style End */

span {
    color: #FFF;
}

#container {
    padding: 50px;
}

.thumbnail {
    padding: 4px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.thumbnail img {
    width: 100%;
    height: 320px;
}

.thumbnail .panel-footer {
    background-color: #3A9CED;
    color: #FFF;
    margin: 0;
}

/* Smaller than standard 960 (devices and browsers) */

@media only screen and (max-width: 959px) {
    #container .thumbnail img {
        width: 100%;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 959px) {
    #container .thumbnail img {
        width: 100%;
        height: 200px;
    }
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {
    #container .thumbnail img {
        width: 100%;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    #container .thumbnail img {
        width: 100%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */

@media only screen and (max-width: 479px) {
    #container .thumbnail img {
        width: 100%;
    }
}